body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1 {
  background-image: url("CityHeader.jpg");
  height: 50vh; /* Set height relative to viewport height */
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  transform: translateY(-50%); /* Center vertically */
}

.caption span.border {
  background-color: rgb(50, 0, 0);
  color: rgb(255, 255, 255);
  padding: 3vw; /* Set padding relative to viewport width */
  font-size: 3vw; /* Set font size relative to viewport width */
  letter-spacing: 1vw; /* Set letter spacing relative to viewport width */
}

h3 {
  letter-spacing: 0.5vw; /* Set letter spacing relative to viewport width */
  text-transform: uppercase;
  font: 1.5vw "Lato", sans-serif; /* Set font size relative to viewport width */
  color: #111;
}