h1{
    z-index:2;
    text-transform: uppercase;
}

img {
    top: 0;
    width: 200px;
    z-index:0;
  }

.v-header{
    height: 100vh;
    display:flex;
    align-items: center;
    color:white;
}

.VideoWrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;

}

.VideoWrap video{
    min-width: 100%;
    min-height: 100%;
}

.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    background: rgba(57, 57, 95, 0.267);
    z-index: 1;
    opacity: 0.85;
}

.content{
    z-index:2;
}

.content h1{
    font-size: 2rem;
    display:block;
    line-height: 1;

}

  /* Add some content at the bottom of the video/page */
  .content {
    align-items: center;
    position:relative;
    bottom: 0;
    color: #f1f1f1;
    width: 100vh;
    padding: 20px;
  }

  .container {
    border-radius: 5px;
    padding: 20px;
  }


