body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #00000000;

}

.bgimg-1 {
  background-image: url("CityHeader.jpg");
  height: 50vh; /* Set height relative to viewport height */
  position: relative;
  /* opacity: 0.65; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  transform: translateY(-50%);
  z-index: 1;
}

.caption span {
  position: relative;
  z-index: 1;
  color: #fff; /* Set text color to white */
  font-size: 2vw; /* Set font size for "Hi, my name is" relative to viewport width */
}

.caption span.border {
  background-color: rgb(80, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2vw; /* Set padding relative to viewport width */
  font-size: 3.55vw; /* Set font size for the name relative to viewport width */
  letter-spacing: 1vw; /* Set letter spacing relative to viewport width */
  z-index: 0;
}

.bullet-points {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.bullet-points li {
  margin: 0 10px;
  font-size: 2vw; /* Set font size relative to viewport width */
  font-weight: bold;
  color: #fff; /* Set text color to white */
}

h3 {
  letter-spacing: 0.5vw; /* Set letter spacing relative to viewport width */
  text-transform: uppercase;
  font: 1.5vw "Lato", sans-serif; /* Set font size relative to viewport width */
  color: #111;
}
.text-container {
  background-color: #2f4f4f; /* Dark Slate Gray */
  text-align: center; /* Center-align the text */
  padding: 50px 20px; /* Add padding to the top and bottom for spacing */
  color: #ffffff; /* Set text color */
  font-size: 20px; /* Set font size slightly larger */
  line-height: 1.6; /* Set line height for readability */
  font-family: "Arial", sans-serif; /* Change font family */
  font-weight: 600; /* Make the font bolder */
  margin-bottom: 20px;
}

.text-container p {
  margin-bottom: 20px; /* Add some space between paragraphs */
}

